<!DOCTYPE html>
<html>
<head>
    <title>Selamat Datang</title>
</head>
<body>
    <h1>Selamat Datang di Situs Web Saya</h1>
    <p>Ini adalah contoh deployment menggunakan Ansible dan AWS</p>
    <p>Server IP: {{ ansible_host }}</p>
</body>
</html>